/* LoginForm.css */
.form2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
  }
  
  .form2-body {
    text-align: center;
  }
  
  .label {
    font-family: 'Times New Roman', 'Arial', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #000;
  }
  
  .button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-family: 'Times New Roman', 'Arial', sans-serif;
    font-size: 2rem;
    color: #000;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .button:hover {
    background-color: #000;
    color: #fff;
  }
  