.client-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-family: 'Times New Roman', Arial, sans-serif;
    color: black;
    padding: 20px;
    height: 70rem;
  }
  
  .client-form label {
    margin-bottom: 10px;
  }
  
  .client-form input {
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .client-form button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-family: 'Times New Roman', 'Arial', sans-serif;
    font-size: 2rem;
    color: #000;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 5px;
    text-decoration: none;
    align-self: center;
  }
  
  .client-form button:hover {
    background-color: #000;
    color: #fff;
  }
  